@model IEnumerable<OnHelp.Api.Receitas.Site.Models.Categoria>

@{
    ViewBag.Title = "Get All Categorias";
}

<h2>Get All Categorias</h2>

<p>
    @Html.ActionLink("Create New", "CreateCategoria")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
      
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        
            <td>
                @Html.ActionLink("Edit", "EditCategoria", new { id = item.Id, title = item.Title, description = item.Description, prod = item }) |
                @Html.ActionLink("Details", "DetailsCategoria", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table> 